<section class="card">
    <div class="card-body">
        <h3>Quienes somos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta tempora dicta reiciendis odio repellendus nulla quos, nobis suscipit architecto magnam, id, adipisci porro. Reiciendis distinctio voluptatum amet enim? Commodi asperiores rerum esse eos saepe tenetur laudantium vitae ullam rem eum dolores facere, id, accusantium accusamus illo maiores vel aperiam ea ipsum nulla laboriosam hic odio mollitia eaque! Facilis temporibus at rem laborum doloribus cumque nam, veritatis consectetur iure dolore delectus officia fugiat ad harum accusantium distinctio autem praesentium. Cum voluptas eius necessitatibus, excepturi magni beatae? Quis qui minus dicta facilis aliquam libero corporis dolor optio quasi, accusamus voluptatem, perferendis voluptate! Architecto voluptas unde, laborum culpa excepturi ullam nisi cum aspernatur quisquam reiciendis, est beatae. Neque reiciendis harum magnam esse.</p>
    </div>
</section>